<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Meta Puzzle</title>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

		<link rel="stylesheet" type="text/css" href="/css/aadah.css">
		<link rel="stylesheet" type="text/css" href="/css/sunburst.css">
		<link rel="stylesheet" type="text/css" href="/css/media.css">
		<link rel="stylesheet" type="text/css" href="/css/print.css">

		<style type="text/css">
			input.inputs {
				display: block;
				text-align: center;
				margin: auto;
				border-width: 0.5em;
				border-color: grey;
				border-style: solid;

				transition: all 0.25s ease;
			}

			button#solve {
				font-size: larger;
				display: block;
				margin: 1.5em auto;
			}
		</style>

		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
		<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
		<script type="text/javascript" src="/js/aadah.js"></script>
		<script type="text/javascript" src="check.js"></script>
	</head>

	<body>
		<nav>
			<!--span class="prev">&laquo; <a href=""></a></span-->
			<!--span class="next"><a href=""></a> &raquo;</span-->

			<ul>
				<li><a href="/" class="home">Home</a> |</li>
				<li><a href="/blog/" class="blog">Blog</a> |</li>
				<li><a href="/works/" class="works">Works</a> |</li>
				<li><a href="/about/" class="about">About</a></li>
			</ul>
		</nav>
		
		<header>
			<h1 class="title">The Meta</h1>
		</header>

		<main role="main">
			<blockquote>
			<p>
				<strong>Lander:</strong>
				Any predictions about where the sisters are going
				to travel next?
			</p>
			<p>
				<strong>You:</strong>
				Whatever country lies between the
				odd ones out in the protein.
			</p>
			<p>
				<strong>Lander:</strong>
				What do you mean by 'lies between'? Geographically? Culturally?
			</p>
			<p>
				<strong>You:</strong>
				Isonumerically, of course!
			</p>
			</blockquote>
			<input id="answer1" class="inputs" type="text" placeholder="ANSWER">
			<hr>

			<blockquote>
			<p>
				<strong>Chomsky:</strong>
				I'm pretty sure Yael Naim had a song called "Neo Seoul".
				Is there such a city?
			</p>
			<p>
				<strong>You:</strong>
				No. Neo Seoul is a fictional city from the movie
				<em>Cloud Atlas</em>.
			</p>
			<p>
				<strong>Chomsky:</strong>
				Ah, yes! Silly phonetic mistake. But what was that song?
			</p>
			</blockquote>
			<input id="answer2" class="inputs" type="text" placeholder="ANSWER">
			<hr>

			<blockquote>
			<p>
				<strong>You:</strong>
				What was the crucial moment that allowed
				Lee Sedol to beat AlphaGo?
			</p>
			<p>
				<strong>Miranda:</strong>
				Experts have said the game changed when
				AlphaGo played black on K10.
			</p>
			<p>
				<strong>You:</strong>
				That was a prime move, if I recall correctly.
			</p>
			<p>
				<strong>Miranda:</strong>
				Actually, that was when AlphaGo erred.
			</p>
			<p>
				<strong>You:</strong>
				I think you misunderstood what I meant.
			</p>
			</blockquote>
			<input id="answer3" class="inputs" type="text" placeholder="ANSWER">
			<hr>

			<button id="solve">SOLVE</button>
		</main>

		<footer>
		</footer>
	</body>
</html>
