/* This stylesheet was written by Abdi-Hakin Dirie. */

@import url(//fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
	color: #ffffff;
	background-color: #222222;
	font-family: "Oswald", serif;
	width: 750px;
	margin: auto;
	padding: 50px 0;
}

/* NAVIGATION */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: inherit;
	text-align: center;
	font-style: italic;
	padding: 1em;
	z-index: 1;
	opacity: 0.5;

	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

nav:hover {
	opacity: 1;
}

nav ul {
	color: #808080;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

nav a.home:hover {
	color: #b00000;
}

nav a.blog:hover {
	color: #00b000;
}

nav a.works:hover {
	color: #00b0b0;
}

nav a.about:hover {
	color: #b0b000;
}

nav span {
	position: absolute;
	color: #808080;

	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

nav span:hover {
	color: #b000b0;
}

nav span.prev a, nav span.next a {
	display: inline-block;
	vertical-align: middle;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: smaller;
}

nav span.prev {
	left: 1em;
	float: left;
}

nav span.next {
	right: 1em;
	float: right;
}

/* HEADER */
header {
	clear: both;
	padding-bottom: .5em;
	border-bottom: #ffffff 1px solid;
	margin: .5em 0;
}

header .title {
	text-align: center;
	padding: 0;
	margin: 0;
}

header .subtitle {
	font-style: italic;
	text-align: center;
	padding: 0;
	margin: .5em 0;
}

header .author {
	color: #aaaaaa;
	font-size: smaller;
	text-align: center;
	padding: 0;
	margin: .5em 0;
}

header .author:before {
	content: 'Authored by ';
}

/* CONTENT */
main {
	/*for footnote*/
	position: relative;

	clear: both;
	margin: .5em 0;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
	padding-left: 5px;
	border-left: #ffffff 1px solid;
}

/* FOOTER */
footer {
	clear: both;
	color: #aaaaaa;
	padding-top: .5em;
	border-top: #ffffff 1px solid;
	margin: .5em 0;
	padding: 0;
}

footer p {
	font-style: italic;
	text-align: center;
}

footer div.times {
	line-height: 1.5em;
	margin: 1em;
}

footer time {
	display: block;
	font-size: smaller;
	text-align: center;
}

footer time.posted:before {
	content: 'Posted on ';
}

footer time.updated:before {
	content: 'Updated on ';
}

/* AESTHETICS */
p {
	line-height: 1.5em;
	text-align: justify;
	margin: 1.5em auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* -------------------------------------------------------*/
/* TODO: Fix border-bottom-color on hover. */
a {
	text-decoration: none;

	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

nav a:link, nav a:visited {
	color: #808080;
}

nav a:hover {
	color: #ff00ff;
}

main a {
	border-bottom: #ffffff 1px dotted;
}

footer a {
	border-bottom: #aaaaaa 1px dotted;
}

main a:link, main a:visited, footer a:link, footer a:visited {
	color: inherit;
}

main a:hover, footer a:hover {
	color: #808080;
	border-bottom-color: #808080;
}

/* -------------------------------------------------------*/

blockquote {
	display: block;
	color: #bbbbbb;
	font-style: italic;
	text-align: justify;
	border-left: #bbbbbb 1px solid;
	margin: 0.5em 1em;
	padding-left: 1em;
}

blockquote i {
	font-style: normal;
}

q, quote {
	font-style: italic;
}

q i, q em, quote i, quote em {
	font-style: normal;
}

q.pquoter, q.pquotel {
	display: block;
	color: #bbbbbb;
	background-color: #111111;
	width: 250px;
	font-size: 1.25em;
	line-height: 1.25em;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
}

q.pquoter {
	float: right;
	margin-left: 1em;
}

q.pquotel {
	float: left;
	margin-right: 1em;
}

q.pquoter::before, q.pquoter::after, q.pquotel::before, q.pquotel::after {
	font-size: 2em;
	vertical-align: text-top;
}

span.salutation {
	display: block;
	text-align: right;
}

span.salutation em {
	font-style: normal;
}

span.salutation::before {
	content: '— ';
}

/* -------------------------------------------------------*/

figure {
	display: block;
	margin: 0.5em auto;
}

figcaption {
	font-size: smaller;
	text-align: center;
	margin-top: 0.5em;
}

/* -------------------------------------------------------*/

code, samp {
	display: block;
	font-family: "Inconsolata", monospace;
	font-size: smaller;
	line-height: 1.5em;
	max-height: 50em;
	white-space: pre;
	overflow: hidden;
	padding: 1em;
	margin: 0.5em auto;

	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-ms-tab-size: 4;
	tab-size: 4;
}

code:hover, samp:hover {
	overflow: auto;
}

code {
	background-color: #000000;
}

samp, p kbd {
	background-color: #333333;
}

kbd {
	font-family: "Inconsolata", monospace;
}

p kbd {
	padding: 0.25em;
}

samp kbd {
	font-weight: bold;
}

/* -------------------------------------------------------*/

table {
	background-color: #000000;
	border-spacing: 0;
	font-size: smaller;
	padding: 0.5em;
	margin: 0.5em auto;
}

th {
	background-color: #222222;
	font-weight: normal;
	padding: 0.5em;
}

td {
	vertical-align: text-top;
	text-align: center;
	padding: 0.5em;
}

caption {
	text-align: right;
	margin: 0.5em 0;
}

/* -------------------------------------------------------*/

main li {
	color: #ffffff;
}

ol, ul {
	line-height: 1.5em;
	font-size: inherit;
}

ol {
	list-style-type: upper-roman;
}

ol ol {
	list-style-type: upper-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

ol ol ol ol {
	list-style-type: lower-alpha;
}

ul {
	list-style-type: square;
}

ul ul {
	list-style-type: disc;
}

ul ul ul {
	list-style-type: square;
}

ul ul ul ul {
	list-style-type: disc;
}

table ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------*/

.footnote {

}

.footnotes {
	font-size: smaller;
	list-style-type: decimal;
}

#fn-box {
	position: fixed;
	background-color: #111111;
	font-size: smaller;
	max-width: 33%;

	z-index: -1;
	opacity: 0;
	padding: 1em;
}

/* -------------------------------------------------------*/

.posts {
	display: block;
	/*max-width: 50%;*/
	margin: 0.5em auto;
}

.post {
	width: 31%;
	float: left;
	margin: 1em 1%;
}

.post .t {
	font-size: larger;
	margin: 0;
}

.post p {
	text-align: center;
	margin: 0;
}

.post .s {
	font-style: italic;
}

.post .a, .post .d {
	font-size: smaller;
}

.post .a:before {
	content: 'by ';
}

/* -------------------------------------------------------*/

img, video, audio {
	display: block;
	max-width: 98%;
	margin: 0.5em auto;
}

img, video, audio {
	background-color: #000000;
	padding: 1%;
}

/* -------------------------------------------------------*/

.gallery {
	overflow: auto;
	margin: 0.5em auto;
}

.gallery figure {
	position: relative;
	float: left;
	width: 230px;
	height: 230px;
	overflow: hidden;
	background-color: #000000;
	border: #000000 5px solid;
	margin: 5px;
}

.gallery figcaption {
	position: absolute;
	bottom: 0;
	background-color: #000000;
	padding: 0.5em;
	margin: 0.5em;
}

.gallery img {
	position: absolute;
	top: -1000%;
	bottom: -1000%;
	right: -1000%;
	left: -1000%;
	margin: auto;
	max-width: 730px;
	cursor: pointer;
	border: none;
}

/* -------------------------------------------------------*/

iframe {
	margin: auto;
	display: block;
	max-width: 98%;
	border: 5px #000000 solid;
}

/* -------------------------------------------------------*/

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner {
	background-color: #808080;
}
