/* This stylesheet was written by Abdi-Hakin Dirie. */

@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Spectral:400,400i,700,700i);

body {
	color: #ffffff;
	background-color: #202020;
  font-family: "Spectral", serif;
	width: 750px;
	margin: auto;
	padding: 3em 0;
  font-size: larger;
}

/* NAVIGATION */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: inherit;
	text-align: center;
	padding: 1em;
	z-index: 1;
	opacity: 0.25;

	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

nav:hover {
	opacity: 1;
}

nav ul {
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

nav a.home:hover {
	color: #b00000;
}

nav a.blog:hover {
	color: #00b000;
}

nav a.works:hover {
	color: #00b0b0;
}

nav a.about:hover {
	color: #b0b000;
}

nav span {
	position: absolute;

	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

nav span:hover {
	color: #b000b0;
}

nav a:hover {
	color: #ff00ff;
}

nav span.prev a, nav span.next a {
	display: inline-block;
	vertical-align: middle;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: smaller;
}

nav span.prev {
	left: 1em;
	float: left;
}

nav span.next {
	right: 1em;
	float: right;
}

/* HEADER */
header {
	clear: both;
	padding-bottom: .5em;
	border-bottom: #ffffff 1px solid;
	margin: .5em 0;
}

header .title {
	text-align: center;
	padding: 0;
	margin: 0;
}

header .subtitle {
	font-style: italic;
	text-align: center;
	padding: 0;
	margin: .25em 0;
}

header .author {
	color: #b0b0b0;
	font-size: smaller;
	text-align: center;
	padding: 0;
	margin: .5em 0;
}

header .author:before {
	content: 'Authored by ';
}

/* CONTENT */
main {
  position: relative; /* for #fn-box width */
	clear: both;
	margin: .5em 0;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
	/*display: inline-block;
	float: left;
	clear: both;
	max-width: 50%;
	margin-top: 2em;
	line-height: 1em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	border-bottom: #ffffff 1px solid;*/

	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.5em;
	padding-left: 0.5em;
	border-left: #ffffff 1px solid;
}

/* FOOTER */
footer {
	clear: both;
	color: #b0b0b0;
	border-top: #ffffff 1px solid;
	margin: .5em 0;
	padding: 0;
}

footer p {
	font-style: italic;
	text-align: center;
}

footer div.times {
	line-height: 1.5em;
	margin: 1em;
}

footer time {
	display: block;
	font-size: smaller;
	text-align: center;
}

footer time.posted:before {
	content: 'Posted on ';
}

footer time.updated:before {
	content: 'Updated on ';
}

/* AESTHETICS */
p {
	line-height: 1.5em;
	text-align: justify;
	margin: 1.5em auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* -------------------------------------------------------*/

a {
	text-decoration: none;

	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

a:link, a:visited {
	color: inherit;
}

main a, footer a {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: inherit;
}

/* -------------------------------------------------------*/

blockquote {
	display: block;
	color: #b0b0b0;
	font-style: italic;
	text-align: justify;
	border-left: #b0b0b0 1px solid;
	margin: 0.5em 1em;
	padding-left: 1em;
}

blockquote i {
	font-style: normal;
}

q, quote {
	font-style: italic;
}

q i, q em, quote i, quote em, blockquote em, em em {
	font-style: normal;
}

q.pquoter, q.pquotel {
	display: block;
	color: #c0c0c0;
	background-color: #101010;
	width: 250px;
	font-size: 1.25em;
	line-height: 1.25em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
}

q.pquoter {
  text-align: right;
	float: right;
	margin-left: 1em;
}

q.pquotel {
  text-align: left;
	float: left;
	margin-right: 1em;
}

q.pquoter::before, q.pquotel::before {
	font-size: 5em;
	vertical-align: text-top;
  content: '“';
}

q.pquoter::after, q.pquotel::after {
  content: none;
}

span.salutation {
	display: block;
	text-align: right;
}

span.salutation em {
	font-style: normal;
}

span.salutation::before {
	content: '— ';
}

/* -------------------------------------------------------*/

code, samp {
	display: block;
	font-family: "Inconsolata", monospace;
	font-size: smaller;
	line-height: 1.5em;
	max-height: 50em;
	white-space: pre;
	overflow: hidden;
	padding: 1em;
	margin: 0.5em auto;

	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-ms-tab-size: 4;
	tab-size: 4;
}

code:hover, samp:hover {
	overflow: auto;
}

code {
	background-color: #000000;
}

p kbd, samp {
	background-color: #303030;
}

kbd {
	font-family: "Inconsolata", monospace;
}

p kbd {
	padding: 0.25em;
}

samp kbd {
	font-weight: bold;
}

/* -------------------------------------------------------*/

table {
	background-color: #000000;
	border-spacing: 0;
	font-size: smaller;
	padding: 0.5em;
	margin: 0.5em auto;
}

th {
	background-color: #202020;
	font-weight: normal;
	padding: 0.5em;
	text-align: left;
}

td {
	vertical-align: text-top;
	padding: 0.5em;
}

caption {
	font-variant: small-caps;
	text-align: center;
	margin: 0.5em 0;
}

/* -------------------------------------------------------*/

main li {
	color: #ffffff;
}

ol, ul {
	line-height: 1.5em;
}

ol {
	list-style-type: upper-roman;
}

ol ol {
	list-style-type: upper-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

ol ol ol ol {
	list-style-type: lower-alpha;
}

ul {
	list-style-type: square;
}

ul ul {
	list-style-type: disc;
}

ul ul ul {
	list-style-type: square;
}

ul ul ul ul {
	list-style-type: disc;
}

table ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------*/

.footnote a {
	font-size: smaller;
}

.footnotes li > span {
	padding-right: 0.5em;
}

.footnotes {
	font-size: smaller;
	list-style-type: decimal;
}

main #fn-box {
  box-sizing: border-box;
  position: absolute;
	background-color: #101010;
  max-width: 50%;
  font-size: smaller;
	z-index: -1;
	opacity: 0;
	padding: 1em;
}

/* -------------------------------------------------------*/

.posts {
	display: block;
	margin: 0.5em auto;
}

.post {
	margin: 1em auto;
}

.post a {
	text-decoration-style: double;
}

.post .t {
	font-size: larger;
	margin: 0;
}

.post p {
	margin: 0;
}

.post .s {
	font-style: italic;
}

.post .a, .post .d {
	font-size: smaller;
}

.post .a:before {
	content: 'by ';
}

/* -------------------------------------------------------*/

figure {
	display: block;
	margin: 0.5em auto;
}

figcaption {
	font-size: smaller;
	text-align: center;
	margin-top: 0.5em;
}

/* -------------------------------------------------------*/

figure img, figure video, figure audio {
	display: block;
  /*box-sizing: border-box;
	max-width: 100%;*/
	max-width: 98%;
	background-color: #000000;
	margin: auto;
	padding: 1%;
}

/* -------------------------------------------------------*/

.gallery {
	position: relative;
	margin: 0.5em auto;
	overflow: hidden;
}

.gallery figure {
	position: relative;
	float: left;
	width: 230px;
	height: 230px;
	overflow: hidden;
	background-color: #000000;
	border: #000000 5px solid;
	margin: 4px;
}

.gallery figcaption {
	position: absolute;
	bottom: 0;
	background-color: #000000;
	padding: 0.5em;
	margin: 0.5em;
}

.gallery img {
	position: absolute;
	top: -1000%;
	bottom: -1000%;
	right: -1000%;
	left: -1000%;
	margin: auto;
	max-width: 730px;
	cursor: pointer;
}

/* -------------------------------------------------------*/

iframe {
	margin: auto;
	display: block;
	max-width: 98%;
	border: 5px #000000 solid;
}

/* -------------------------------------------------------*/

.separator {
	position: relative;
	margin: 3em auto;
	width: 50%;
}

.separator .line {
	display: block;
	width: 100%;

	height: 2px;

	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.separator .icon {
	position: absolute;
	top: -1000%;
	bottom: -1000%;
	right: -1000%;
	left: -1000%;
	width: 1em;
	height: 1em;
	padding: 0 0.5em;
	margin: auto;
	background-color: #202020;
	z-index: 1;
}
