@media only screen and (max-width: 400px) {
	body {
		max-width: none;
		font-size: x-large;
	}

	/* q.pquoter,
	q.pquotel {
		text-align: justify;
		float: none;
		width: inherit;
		margin-left: 0;
		margin-right: 0;
	}

	.gallery figure {
		float: none;
		max-width: 100%;
		width: auto;
		height: auto;
		margin: 0.5em 0;
	}

	.gallery img {
		position: static;
		max-width: 98%;
		cursor: auto;
	} */
}

/* @media screen and (min-width: 150rem) {
	body {
		font-size: 2.5em;
		width: 90%;
	}

	iframe {
		height: ;
	}

	q.pquoter,
	q.pquotel {
		text-align: justify;
		float: none;
		width: inherit;
		margin-left: 0;
		margin-right: 0;
	}

	.gallery figure {
		float: none;
		max-width: 100%;
		width: auto;
		height: auto;
		margin: 0.5em 0;
	}

	.gallery img {
		position: static;
		max-width: 98%;
		cursor: auto;
	}
} */
