@media screen and (max-width: 768px) {
	:root {
		--body-max-width: 100%;
	}

	body {
		padding-top: calc(4 * var(--default-margin));
	}

	nav {
		font-size: small;
	}

	q.pquoter,
	q.pquotel {
		width: unset;
		float: none;
		text-align: justify;
		margin-left: 0;
		margin-right: 0;
	}

	.gallery figure {
		float: unset;
		width: initial;
		height: initial;
		border: initial;
		margin: var(--default-margin) 0;
		padding: var(--default-margin) 0;
	}

	.gallery figure img {
		position: initial;
	}

	.gallery figure figcaption {
		margin: calc(2 * var(--default-margin));

		max-height: unset;
		display: unset;
		-webkit-line-clamp: unset;
		-webkit-box-orient: unset;
		overflow: unset;
		text-overflow: unset;
	}

	.gallery figure:nth-child(3n+2) {
		margin-left: unset;
	}

	.gallery figure:nth-child(3n+3) {
		margin-left: unset;
	}

	.gallery figure:nth-child(n+4) {
		margin-top: unset;
	}
}
