@media print {

	body {
		color: #000000 !important;
		background-color: #ffffff !important;
		padding: 0 !important;
	}

	/* NAVIGATION */
	nav {
		display: none !important;
	}

	/* HEADER */
	header {
		clear: both;
		padding-bottom: .5em;
		border-bottom-color: #000000 !important;
		margin: .5em 0;
	}

	header .author {
		color: #000000 !important;
	}

	/* CONTENT */

	main h1, main h2, main h3, main h4, main h5, main h6 {
		padding-left: 0 !important;
		border: none !important;
	}

	/* FOOTER */
	footer {
		color: #000000 !important;
		border-top-color: #000000 !important;
	}

	/* AESTHETICS */

	/* -------------------------------------------------------*/

	main a {
		border-bottom: none !important;
	}

	footer a {
		border-bottom: none !important;
	}

	/* -------------------------------------------------------*/

	blockquote {
		color: #000000 !important;
		border-left-color: #000000 !important;
	}

	q.pquoter, q.pquotel {
		color: #000000 !important;
		background-color: #eeeeee !important;
	}

	/* -------------------------------------------------------*/

	code, samp {
		max-height: none !important;
		overflow: visible !important;
	}

	code {
		background-color: #eeeeee !important;
	}

	samp {
		background-color: #dddddd !important;
	}

	p > kbd {
		background-color: #eeeeee !important;
	}

	/* -------------------------------------------------------*/

	table {
		background-color: #eeeeee !important;
	}

	th {
		background-color: #dddddd !important;
	}

	/* -------------------------------------------------------*/


	ol, ul {
		/*color: #000000 !important;*/
		line-height: 1.5em;
		font-size: inherit;
	}

	/* -------------------------------------------------------*/

	img, video, audio {
		display: block;
		max-width: 98%;
		margin: auto;
	}

	img {
		border-color: #eeeeee !important;
	}

	video {
		background-color: #eeeeee !important;
	}

	audio {
		background-color: #eeeeee !important;
	}

	/* -------------------------------------------------------*/

	.gallery {
		overflow: auto;
		margin: 5px auto;
	}

	.gallery figure {
		position: relative;
		float: left;
		width: 230px;
		height: 230px;
		overflow: hidden;
		background-color: #000000;
		border: #000000 5px solid;
		margin: 5px;
	}

	.gallery figcaption {
		position: absolute;
		bottom: 0;
		background-color: #000000;
		padding: 5px;
		margin: 5px;
	}

	.gallery img {
		position: absolute;
		top: -1000%;
		bottom: -1000%;
		right: -1000%;
		left: -1000%;
		max-width: 730px;
		cursor: pointer;
		border: none;
	}

	/* Page breaks */

	header,
	footer,
	blockquote,
	q,
	figure,
	code,
	samp,
	table,
	ol,
	ul {
		page-break-inside: avoid;
	}

}
