@media print {
	body {
		color: #000000 !important;
		background-color: #ffffff !important;
		width: 100% !important;
		max-width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	/* NAVIGATION */
	nav {
		display: none !important;
	}

	/* HEADER */
	header {
		clear: both;
		padding-bottom: .5em;
		border-bottom-color: #000000 !important;
		margin: .5em 0;
		margin-top: 0;
	}

	header .author {
		color: #000000 !important;
	}

	/* CONTENT */

	main h1,
	main h2,
	main h3,
	main h4,
	main h5,
	main h6 {
		border-color: #000000 !important;
	}

	hr:after {
		background-color: #ffffff !important;
	}

	/* FOOTER */
	footer {
		display: none !important;
	}

	/* AESTHETICS */

	/* -------------------------------------------------------*/

	main a {
		border-bottom: none !important;
	}

	footer a {
		border-bottom: none !important;
	}

	/* -------------------------------------------------------*/

	blockquote {
		color: #000000 !important;
		border-left-color: #000000 !important;
	}

	q.pquoter,
	q.pquotel {
		color: #000000 !important;
		background-color: #e0e0e0 !important;
	}

	/* -------------------------------------------------------*/

	code,
	samp {
		max-height: none !important;
		white-space: pre-wrap;
	}

	code {
		background-color: #f0f0f0 !important;
	}

	p kbd,
	samp {
		background-color: #e0e0e0 !important;
	}

	/* -------------------------------------------------------*/

	table {
		background-color: #f0f0f0 !important;
	}

	th {
		background-color: #e0e0e0 !important;
	}

	/* -------------------------------------------------------*/

	ol,
	ul {
		line-height: 1.5em;
		font-size: inherit;
	}

	li {
		color: #000000 !important;
	}

	/* -------------------------------------------------------*/

	img,
	video,
	audio {
		background-color: #f0f0f0 !important;
	}

	/* -------------------------------------------------------*/

	.gallery {
		overflow: auto;
		margin: 5px auto;
	}

	.gallery figure {
		position: relative;
		float: left;
		width: 230px;
		height: 230px;
		overflow: hidden;
		background-color: #000000;
		border: #000000 5px solid;
		margin: 5px;
	}

	.gallery figcaption {
		position: absolute;
		bottom: 0;
		background-color: #000000;
		padding: 5px;
		margin: 5px;
	}

	.gallery img {
		position: absolute;
		top: -1000%;
		bottom: -1000%;
		right: -1000%;
		left: -1000%;
		max-width: 730px;
		cursor: pointer;
		border: none;
	}

	/* Page breaks */

	header,
	footer,
	blockquote,
	q,
	figure,
	img,
	video,
	audio,
	code,
	samp,
	table,
	ol,
	ul,
	div.item {
		page-break-inside: avoid !important;
	}
}
