<head>
    <title>[TITLE] &bull; aadah.me</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="[SUBTITLE]">
    <meta name="author" content="[AUTHOR]">
    <meta property="og:title" content="[TITLE] • aadah.me">
    <meta property="og:url" content="https://aadah.me[PATH]">
    <meta property="og:description" content="[SUBTITLE]">
    <meta property="og:image" content="[IMAGE]">
    <meta property="og:type" content="article">

    <link rel="stylesheet" type="text/css" href="/css/aadah.css">
    <link rel="stylesheet" type="text/css" href="/css/sunburst.css">
    <link rel="stylesheet" type="text/css" href="/css/media.css">
    <link rel="stylesheet" type="text/css" href="/css/print.css">

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><rect rx=%2210%22 width=%22100%22 height=%22100%22 fill=%22%23202020%22 /><text x=%220.15em%22 y=%22.95em%22 font-size=%2280%22 fill=%22%23ffffff%22>両</text></svg>">

    <link rel="me" href="https://mastodon.mit.edu/@ahd">
    <link rel="me" href="https://social.coop/@abdi">

    <script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script id="MathJax-script" async src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="/js/aadah.js"></script>
</head>
