<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home &bull; aadah.me</title>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="description" content="Domus">
		<meta property="og:title" content="Home • aadah.me">
		<meta property="og:url" content="https://aadah.me/">
		<meta property="og:description" content="Domus">
		<meta property="og:image" content="/media/images/aadah.png">
		<meta property="og:type" content="blog">

		<link rel="stylesheet" type="text/css" href="/css/aadah.css">
		<link rel="stylesheet" type="text/css" href="/css/sunburst.css">
		<link rel="stylesheet" type="text/css" href="/css/media.css">
		<link rel="stylesheet" type="text/css" href="/css/print.css">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
		<script id="MathJax-script" async src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
		<script type="text/javascript" src="/js/aadah.js"></script>
	</head>

	<body>
		<nav>
			<ul>
				<li><a href="/" class="home">Home</a> |</li>
				<li><a href="/blog/" class="blog">Blog</a> |</li>
				<li><a href="/works/" class="works">Works</a> |</li>
				<li><a href="/about/" class="about">About</a></li>
			</ul>
		</nav>

		<header>
			<h1 class="title">Home</h1>
			<p class="subtitle">Domus</p>
		</header>

		<main role="main">
			<figure>
				<img src="/media/images/<%= image %>">
			</figure>
		</main>

		<footer>
		</footer>
	</body>
</html>
