<!DOCTYPE html>
<html lang="en">

<head>
	<title>Résumé &bull; aadah.me</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="description" content="My résumé">
	<meta name="author" content="Abdi-Hakin Dirie">
	<meta property="og:title" content="Résumé">
	<meta property="og:url" content="https://aadah.me/about/resume/">
	<meta property="og:description" content="My résumé">
	<meta property="og:image"
		content="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><rect rx=%2210%22 width=%22100%22 height=%22100%22 fill=%22%23202020%22 /><text x=%220.15em%22 y=%22.95em%22 font-size=%2280%22 fill=%22%23ffffff%22>両</text></svg>">
	<meta property="og:type" content="article">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/aadah.css">
	<link rel="stylesheet" type="text/css" href="/css/sunburst.css">
	<link rel="stylesheet" type="text/css" href="/css/media.css">
	<link rel="stylesheet" type="text/css" href="/css/print.css">
	<style type="text/css">
		main {
			font-size: small;
		}

		header .title {
			font-size: xx-large;
			font-variant: small-caps;
		}

		header .subtitle {
			font-style: normal;
			font-size: small;
		}

		.item>span,
		.where_when>span {
			display: block;
		}

		main h1,
		main h2,
		main h3,
		main h4,
		main h5,
		main h6 {
			font-variant: small-caps;
			margin: 0;
			margin-top: 1em;
			line-height: 1em;
		}

		.bold {
			font-weight: bold;
		}

		.italic {
			font-style: italic;
		}

		.mono {
			font-family: "Fira Code";

		}

		.item {
			margin: 0.5em 0;
		}

		.item ul {
			margin: 0;
			padding-left: 1.5em;
		}

		.where_when {
			text-align: right;
			float: right;
		}

		.pagebreak {
			page-break-before: always;
		}

		.icon {
			margin-right: 0.5em;
		}

		.detail {
			margin-right: 1em;
		}

		h2 .icon {
			margin-left: 0.25em;
		}

		@media screen and (max-width: 768px) {
			header * {
				text-align: center;
			}

			.detail {
				display: block;
				clear: both;
			}
		}
	</style>

	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><rect rx=%2210%22 width=%22100%22 height=%22100%22 fill=%22%23202020%22 /><text x=%220.15em%22 y=%22.95em%22 font-size=%2280%22 fill=%22%23ffffff%22>両</text></svg>">

	<link rel="me" href="https://mastodon.mit.edu/@ahd">
	<link rel="me" href="https://social.coop/@abdi">

	<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	<script id="MathJax-script" async src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script type="text/javascript" src="/js/aadah.js"></script>

	<script src="https://kit.fontawesome.com/63316bbbbb.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<a href="/" class="home">Home</a> &bull;
		<a href="/blog/" class="blog">Blog</a> &bull;
		<a href="/now/" class="now">Now</a> &bull;
		<a href="/works/" class="works">Works</a> &bull;
		<a href="/about/" class="about">About</a>
	</nav>

	<header>
		<h1 class="title">Abdi-Hakin A. Dirie</h1>
		<p class="subtitle">
			<span class="detail"><span class="mono"><i class="fa-brands fa-github icon"></i><a target="_blank"
						href="https://github.com/aadah/">github.com/aadah</a></span></span>
			<span class="detail"><span class="mono"><i class="fa-solid fa-envelope icon"></i><a target="_blank"
						href="mailto:abdidirie0+resume@gmail.com">abdidirie0@gmail.com</a></span></span>
			<span class="detail"><i class="fa-solid fa-location-dot icon"></i>Brooklyn, NY, USA</span>
		</p>
	</header>

	<main role="main">

		<h2><i class="fa-solid fa-briefcase icon"></i>Work Experience</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold"> New York, NY (remote) &amp; Cambridge, MA </span>
				<span>Dec. 2023 &ndash; Oct. 2024</span>
			</div>

			<span class="bold">Salesforce</span>
			<span class="italic">Senior Machine Learning Scientist</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span>Aug. 2022 &ndash; Nov. 2023</span>
			</div>

			<span class="italic">Senior Software Engineer</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span>Nov. 2019 &ndash; July 2022</span>
			</div>

			<span class="italic">Software Engineer</span>

			<ul>
				<li>Acqui-hired by Salesforce in fall of 2019 as part of acquisition of Diffeo</li>
				<li>Presented data science results to top executives to demonstrate product launch readiness for
					Salesforce's <a target="_blank"
						href="https://www.salesforce.com/products/sales-cloud/tools/einstein-relationship-insights/">Einstein
						Relationship Insights (ERI)</a></li>
				<li>Implemented key ERI models for discovering useful relationships
					from unstructured data sources</li>
				<li>Designed and implemented in-house microservice for serving ML predictions</li>
				<li>Spearheaded a data curation team to build datasets used for training ML models, evaluating product
					quality, and motivating other product improvements</li>
				<li>Implemented tooling for automatic quantitative evaluations of ERI</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Jan. 2018 &ndash; Oct. 2019</span>
			</div>

			<span class="bold">Diffeo</span>
			<span class="italic">Software Engineer</span>

			<ul>
				<li>Improved Diffeo's primary entity coreference model, including cross-lingual predictions</li>
				<li>Stewarded the standardization of coreference resolution in different parts of the system</li>
				<li>Implemented locality sensitive hashing (LSH) algorithms for document deduplication</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span>June 2016 &ndash; Sept. 2016</span>
			</div>

			<span class="italic">Machine Learning Systems Engineering Intern</span>
			<span>Summary: graphical named entity-linking algorithms</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Kawasaki, Japan</span>
				<span>July 2015 &ndash; Sept. 2015</span>
			</div>

			<span class="bold">Fujitsu Laboratories</span>
			<span class="italic">R&amp;D Intern</span>
			<span>Summary: unsupervised relation extraction; hierarchical Bayesian text classification</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Tokyo, Japan</span>
				<span>June 2014 &ndash; August 2014</span>
			</div>

			<span class="bold">Internet Business Japan Co., Ltd.</span>
			<span class="italic">Web Development Intern</span>
			<span>Summary: web UI/UX for clients; creating educational web dev course materials</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Jan. 2015 &ndash; May 2016</span>
			</div>

			<span class="bold">MIT Computer Science &amp; Artificial Intelligence Laboratory</span>
			<span class="italic">Undergraduate Researcher in InfoLab Group</span>
			<span>Summary: natural language query expansion; automatic corpus annotation; search for MOOCs</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span>June 2013 &ndash; Jan. 2014</span>
			</div>

			<span class="italic">Undergraduate Researcher in Genesis Group</span>
			<span>Summary: natural language generation for video</span>
		</div>

		<h2><i class="fa-solid fa-lightbulb icon"></i>Publications &amp; Patents</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold">Monticello, IL</span>
				<span>Sept. 2019</span>
			</div>

			<span class="bold">Contrastive Multivariate Singular Spectrum Analysis</span>
			<span class="italic"><b>Abdi-Hakin Dirie</b>, Abubakar Abid, and James Zou</span>

			<ul>
				<li>Paper link: <a target="_blank"
						href="https://proceedings.allerton.csl.illinois.edu/media/files/0189.pdf"><span
							class="mono">https://proceedings.allerton.csl.illinois.edu/media/files/0189.pdf</span></a>
				</li>
				<li>Presented at the 57th Annual Allerton Conference on Communication, Control, and Computing</li>
				<li>Smaller work presented at the <a target="_blank"
						href="https://neurips.cc/Conferences/2018/Schedule?showEvent=10930"><i>Modeling and
							Decision-making in the Spatiotemporal
							Domain</i></a> workshop (NeurIPS 2018, Montreal)</li>
			</ul>
		</div>

		<div class="item">
			<span class="bold">Systems and method for investigating relationships among entities</span>

			<ul>
				<li>Patent link: <a target="_blank" href="https://patents.google.com/patent/US20210149980A1/en"><span
							class="mono">https://patents.google.com/patent/US20210149980A1/en</span></a></li>
			</ul>
		</div>

		<h2><i class="fa-solid fa-graduation-cap icon"></i>Education</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold">Brookyln, NY</span>
				<span>July 2024 &ndash; Sept. 2024</span>
			</div>

			<span class="bold"><a target="_blank" href="https://www.recurse.com/">Recurse Center</a></span>
			<span class="italic">Recurser</span>

			<span>Building. Learning. Playing.</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Sept. 2016 &ndash; Sept. 2017</span>
			</div>

			<span class="bold">Massachusetts Institute of Technology</span>
			<span class="italic">Master of Engineering in Computer Science &amp; Engineering</span>

			<ul>
				<li>Thesis: <i>Extracting Diverse Attribute-Value Information from Product Catalog Text via Transfer
						Learning</i></li>
				<li>GPA: 5.0/5.0</li>
				<li>Coursework in: Artificial Intelligence/Machine Learning, Bayesian Methods</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span>Sept. 2012 &ndash; June 2016</span>
			</div>

			<span class="italic">Bachelor of Science in Computer Science &amp; Engineering</span>

			<ul>
				<li>GPA: General &ndash; 4.4/5.0, Major &ndash;
					4.5/5.0</li>
				<li>Coursework in: Artificial Intelligence/Machine Learning, Linguistics, Symbolic Systems,
					Software/Systems Engineering, Cognitive Robotics</li>
			</ul>
		</div>

		<h2><i class="fa-solid fa-code icon"></i>Tech Stack</h2>

		<div class="item">
			<span><span class="bold">Languages:</span> Go, Python, Julia, JavaScript (+ HTML/CSS)</span>
			<span><span class="bold">Technologies:</span> LLMs, Docker, notebooking (Jupyter/Pluto.jl), search
				(Meilisearch/Elasticsearch), scripting (<kbd>zsh</kbd>/<kbd>bash</kbd>/<kbd>make</kbd>), Node.js,
				Redis</span>
		</div>
	</main>

	<footer></footer>
</body>

</html>
