<!DOCTYPE html>
<html lang="en">

<head>
	<title>Résumé &bull; aadah.me</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="description" content="My résumé">
	<meta name="author" content="Abdi-Hakin Dirie">
	<meta property="og:title" content="Résumé">
	<meta property="og:url" content="https://aadah.me/about/resume/">
	<meta property="og:description" content="My résumé">
	<meta property="og:image" content="/media/images/aadah.png">
	<meta property="og:type" content="article">

	<link rel="stylesheet" type="text/css" href="/css/aadah.css">
	<link rel="stylesheet" type="text/css" href="/css/sunburst.css">
	<link rel="stylesheet" type="text/css" href="/css/media.css">
	<link rel="stylesheet" type="text/css" href="/css/print.css">
	<style type="text/css">
		main {
			font-size: small;
		}

		header .title {
			font-size: xx-large;
			font-variant: small-caps;
		}

		header .subtitle {
			font-style: normal;
			font-size: small;
		}

		.item>span,
		.where_when>span {
			display: block;
		}

		main h1,
		main h2,
		main h3,
		main h4,
		main h5,
		main h6,
		aside h1,
		aside h2,
		aside h3,
		aside h4,
		aside h5,
		aside h6 {
			font-variant: small-caps;
			margin: 0;
			margin-top: 1em;
			line-height: 1em;
		}

		.bold {
			font-weight: bold;
		}

		.italic {
			font-style: italic;
		}

		.mono {
			font-family: "Fira Code";

		}

		.item {
			margin: 0.5em 0;
		}

		.item ul {
			margin: 0;
			padding-left: 1.5em;
		}

		.where_when {
			text-align: right;
			float: right;
		}

		.pagebreak {
			page-break-before: always;
		}

		.icon {
			margin-right: 0.5em;
		}

		.detail {
			margin-right: 1em;
		}

		h2 .icon {
			margin-left: 0.25em;
		}

		footer {
			border: none;
		}

	</style>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript"
		src="//cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	<script type="text/javascript"
		src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script type="text/javascript" src="/js/aadah.js"></script>

	<script src="https://kit.fontawesome.com/63316bbbbb.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<ul>
			<li><a href="/" class="home">Home</a> |</li>
			<li><a href="/blog/" class="blog">Blog</a> |</li>
			<li><a href="/works/" class="works">Works</a> |</li>
			<li><a href="/about/" class="about">About</a></li>
		</ul>
	</nav>

	<header>
		<h1 class="title">Abdi-Hakin A. Dirie</h1>
		<p class="subtitle">
			<span class="detail"><span class="mono"><i class="fa-solid fa-earth-americas icon"></i><a target="_blank"
						href="https://aadah.me/about/resume/">aadah.me/about/resume</a></span></span>
			<span class="detail"><span class="mono"><i class="fa-solid fa-envelope icon"></i><a target="_blank"
						href="mailto:abdidirie0+resume@gmail.com">abdidirie0@gmail.com</a></span></span>
			<span class="detail"><i class="fa-solid fa-location-dot icon"></i>New York, NY</span>
		</p>
	</header>

	<aside>
		<h2>Skills</h2>

		<div class="item">
			<span class="bold">Tech/software:</span>
			<ul>
				<li>Python</li>
				<li>Go</li>
				<li>Julia</li>
				<li>Javascript</li>
				<li>Jupyter</li>
				<li>Git</li>
				<li>Docker</li>
				<li>Elasticsearch</li>
				<li>\(\mathrm{\LaTeX}\)</li>
			</ul>
		</div>

		<div class="item">
			<span class="bold">Languages:</span>
			<ul>
				<li>English (native)</li>
				<li>Japanese (intermediate)</li>
			</ul>

		</div>

		<h2>Teaching</h2>

		<div class="item">
			<span class="bold">MIT 6.804/6.864 (Advanced NLP)</span>
			<span class="italic">Graduate TA</span>

			<ul>
				<li>Fall 2016</li>
				<li>Rated a perfect 7/7 TA by students at end of the semester</li>
			</ul>
		</div>

		<div class="item">
			<span class="bold">MIT CC.802 (Electricity and Magnetism)</span>
			<span class="italic">Undergraduate TA</span>

			<ul>
				<li>Spring 2014</li>
			</ul>
		</div>
	</aside>

	<main role="main" class="with-aside">

		<h2><i class="fa-solid fa-briefcase icon"></i>Work Experience</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold"> New York, NY (remote) &amp; Cambridge, MA </span>
				<span>Aug. 2022 &ndash; present</span>
			</div>

			<span class="bold">Salesforce</span>
			<span class="italic">Senior Software Engineer</span>
		</div>

		<div class="item">
			<div class="where_when">
				<span>Nov. 2019 &ndash; July 2022</span>
			</div>

			<span class="italic">Software Engineer</span>

			<ul>
				<li>Acqui-hired by Salesforce in fall of 2019 as part of acquistion of Diffeo</li>
				<li>Presented data science results to top executives to demontrate product launch readiness for
					Salesforce's <a target="_blank"
						href="https://www.salesforce.com/products/sales-cloud/tools/einstein-relationship-insights/">Einstein
						Relationship Insights (ERI)</a></li>
				<li>Implemented ML models for discovering useful relationships from unstructured datasources, a key
					feature of ERI</li>
				<li>Designed and implemented in-house microservice for serving ML predictions</li>
				<li>Spearheaded a data curation team to build datasets used for training ML models, evaluating product
					quality, and motivating other product improvements</li>
				<li>Implemented tooling for automatic quantitative evaluations of ERI</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Jan. 2018 &ndash; Oct. 2019</span>
			</div>

			<span class="bold">Diffeo</span>
			<span class="italic">Software Engineer</span>

			<ul>
				<li>Improved Diffeo's primary entity coreference model, including cross-lingual predictions</li>
				<li>Stewarded the standarization of coreference resolution in different parts of the system</li>
				<li>Implemented locality sensitive hashing (LSH) algorithms for document deduplication, subject to
					speed/storage constraints</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span>June 2016 &ndash; Sept. 2016</span>
			</div>

			<span class="italic">Machine Learning Systems Engineering Intern</span>

			<ul>
				<li>Implemented the core entity-linking algorithm used in Diffeo's document processing pipeline
				</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Kawasaki, Japan</span>
				<span>July 2015 &ndash; Sept. 2015</span>
			</div>

			<span class="bold">Fujitsu Laboratories</span>
			<span class="italic">R&amp;D Intern</span>

			<ul>
				<li>Implemented an unsupervised relation extraction system to extract attribute-value pairs from text
				</li>
				<li>Executed a research project to design and implement a probabilistic classification system that took
					natural language descriptions (e.g. Wikipedia abstracts) and placed them in a hierarchical class
					ontology
				</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Tokyo, Japan</span>
				<span>June 2014 &ndash; August 2014</span>
			</div>

			<span class="bold">Internet Business Japan Co., Ltd.</span>
			<span class="italic">Web Development Intern</span>

			<ul>
				<li>Designed and implemented website redesign for the Japanese American Association of New York
				</li>
				<li>Created educational web applications for use in the company's web development classes</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Jan. 2015 &ndash; May 2016</span>
			</div>

			<span class="bold">MIT Computer Science &amp; Artificial Intelligence Laboratory</span>
			<span class="italic">Undergraduate Researcher in InfoLab Group</span>

			<ul>
				<li>Implemented paraphrasal query expansion and automatic corpus annotation for the
					group's Q&amp;A system
					ElasticSTART
				</li>
				<li>Designed and implemented a prototype search engine for retrieving videos from edX (MIT's MOOC
					platform)</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span>June 2013 &ndash; Jan. 2014</span>
			</div>

			<span class="italic">Undergraduate Researcher in Genesis Group</span>

			<ul>
				<li>Improved group's natural language generator by adding modifying clauses to produce richer, more
					meaningful descriptions</li>
				<li>Implemented natural language generation for annotating visual scenes from videos</li>
			</ul>
		</div>

		<h2 class="pagebreak"><i class="fa-solid fa-graduation-cap icon"></i>Education</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold">Cambridge, MA</span>
				<span>Sept. 2016 &ndash; Sept. 2017</span>
			</div>

			<span class="bold">Massachusetts Institute of Technology</span>
			<span class="italic">Master of Engineering in Computer Science &amp; Engineering</span>

			<ul>
				<li>Thesis: <i>Extracting Diverse Attribute-Value Information from Product Catalog Text via Transfer
						Learning</i></li>
				<li>GPA: 5.0/5.0</li>
				<li>Select coursework: Artificial Intelligence/Machine Learning, Bayesian Methods</li>
			</ul>
		</div>

		<div class="item">
			<div class="where_when">
				<span>Sept. 2012 &ndash; June 2016</span>
			</div>

			<span class="italic">Bachelor of Science in Computer Science &amp; Engineering</span>

			<ul>
				<li>GPA: General &ndash; 4.4/5.0, Major &ndash;
					4.5/5.0</li>
				<li>Select coursework: Artificial Intelligence/Machine Learning, Linguistics, Symbolic Systems,
					Software/Systems Engineering, Cognitive Robotics</li>
			</ul>
		</div>

		<h2><i class="fa-solid fa-lightbulb icon"></i>Publications &amp; Patents</h2>

		<div class="item">
			<div class="where_when">
				<span class="bold">Monticello, IL</span>
				<span>Sept. 2019</span>
			</div>

			<span class="bold">Contrastive Multivariate Singular Spectrum Analysis</span>
			<span class="italic"><b>Abdi-Hakin Dirie</b>, Abubakar Abid, and James Zou</span>

			<ul>
				<li>Paper link: <a target="_blank"
						href="https://proceedings.allerton.csl.illinois.edu/media/files/0189.pdf"><span
							class="mono">https://proceedings.allerton.csl.illinois.edu/media/files/0189.pdf</span></a>
				</li>
				<li>Presented at the 57th Annual Allerton Conference on Communication, Control, and Computing</li>
				<li>Smaller work presented at the <i>Modeling and Decision-making in the Spatiotemporal
						Domain</i> workshop (NeurIPS 2018, Montreal)</li>
			</ul>
		</div>

		<div class="item">
			<span class="bold">Systems and method for investigating relationships among entities</span>
			<!-- <span class="italic">Pavlini et al. (click link to see all inventors)</span> -->

			<ul>
				<li>Patent link: <a target="_blank" href="https://patents.google.com/patent/US20210149980A1/en"><span
							class="mono">https://patents.google.com/patent/US20210149980A1/en</span></a></li>
			</ul>
		</div>
	</main>

	<footer></footer>
</body>

</html>
